<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Welcome, <%= current_user.first_name %></h1>
  <%= link_to "New Working Community", new_working_community_path, class: "btn btn-primary" %>
</div>

<%= render "working_communities/communities_list", communities: current_user.working_communities.order(created_at: :desc) %>
